@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --font-body: Inter, sans-serif;
}
@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
@property --hover-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

*{
  scroll-behavior: smooth;
}

.f-blops-1{
  background: conic-gradient(from 0deg at 50% 50%, rgb(99, 0, 197) 0deg, rgb(99, 0, 197) 54.8916deg, rgb(99, 0, 197) 106.699deg, rgb(1, 23, 51) 162deg, rgb(114, 36, 0) 252deg, rgb(70, 36, 1) 306deg, rgb(100, 253, 77) 360deg); 
  border-radius: 50%; 
  opacity: 1;
}

.f-blops-2{
  background: conic-gradient(from 0deg at 50% 50%, rgb(99, 0, 197) 0deg, rgb(134, 235, 77) 180deg, rgb(255, 217, 173) 360deg); 
  border-radius: 50%; 
  opacity: 0.7;
}

.f-blops-3{
  background: conic-gradient(from 0deg at 50% 50%, rgb(255, 217, 173) 0deg, rgb(100, 253, 77) 180deg, rgb(99, 0, 197) 360deg,);
  border-radius: 50%;
  opacity: 0.7;
}


.green-custom-gradient {
  background: conic-gradient(from var(--border-angle), #010101 50%, #4CAF50 70%, #010101 100%);
}

.purple-custom-gradient {
  background: conic-gradient(from var(--border-angle), #010101 50%, #8E44AD 70%, #010101 100%);
}

/* Clockwise */
@keyframes rotate-border-cw {
  to {
    --border-angle: 360deg;
  }
}

/* Counter-clockwise */
@keyframes rotate-border-ccw {
  to {
    --border-angle: -360deg;
  }
}

.gradient-text {
  background: linear-gradient(to right, #f0f0f0, #aaa, #f0f0f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* Utilities */
.animate-rotate-border-cw {
  animation: rotate-border-cw 3s linear infinite;
}

.animate-rotate-border-ccw {
  animation: rotate-border-ccw 3s linear infinite;
}
/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility scrollbar-custom {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(125, 125, 125, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #243145; /* Tailwind's blue-500 */
    border-radius: 9999px;
  }
}

@utility animate-blob1 {
  animation: blob1 13s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
}

@utility animate-blob2 {
  animation: blob2 18s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  animation-delay: 1.2s;
}

@utility animate-blob3 {
  animation: blob3 15s infinite cubic-bezier(0.47, 0, 0.745, 0.715);
  animation-delay: 2.4s;
}

@utility animate-blob4 {
  animation: blob4 19s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation-delay: 0.6s;
}

@utility animate-blob5 {
  animation: blob5 17s infinite cubic-bezier(0.25, 0.1, 0.25, 1);
  animation-delay: 3.1s;
}

@utility animate-blob6 {
  animation: blob6 14s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-delay: 2.9s;
}

@layer utilities {
  @keyframes blob1 {
    0%   { transform: translate(0px, 0px); }
    20%  { transform: translate(180px, -130px); }
    45%  { transform: translate(-190px, 115px); }
    70%  { transform: translate(220px, -75px); }
    100% { transform: translate(0px, 0px); }
  }

  @keyframes blob2 {
    0%   { transform: translate(0px, 0px); }
    15%  { transform: translate(-125px, -130px); }
    40%  { transform: translate(135px, 145px); }
    85%  { transform: translate(-155px, -85px); }
    100% { transform: translate(0px, 0px); }
  }

  @keyframes blob3 {
    0%   { transform: translate(0px, 0px); }
    25%  { transform: translate(105px, 225px); }
    60%  { transform: translate(164px, 135px); }
    90%  { transform: translate(100px, 189px); }
    100% { transform: translate(0px, 0px); }
  }

  @keyframes blob4 {
    0%   { transform: translate(0px, 0px); }
    30%  { transform: translate(-225px, -90px); }
    55%  { transform: translate(-180px, -150px); }
    95%  { transform: translate(-210px, -120px); }
    100% { transform: translate(0px, 0px); }
  }

  @keyframes blob5 {
    0%   { transform: translate(0px, 0px); }
    10%  { transform: translate(60px, -100px); }
    40%  { transform: translate(-90px, 140px); }
    75%  { transform: translate(180px, -90px); }
    100% { transform: translate(0px, 0px); }
  }

  @keyframes blob6 {
    0%   { transform: translate(0px, 0px); }
    20%  { transform: translate(-200px, 130px); }
    55%  { transform: translate(120px, -150px); }
    85%  { transform: translate(-115px, 125px); }
    100% { transform: translate(0px, 0px); }
  }
}





